/* tags selector */
* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(251, 158, 79);
  background: linear-gradient(
    90deg,
    rgba(251, 158, 79, 1) 23%,
    rgba(252, 70, 107, 1) 84%
  );
}
html {
  scroll-behavior: smooth;
}
h1 {
  font-family: "Montserrat", sans-serif;
  line-height: 3rem;
  font-size: 3rem;
  color: white;
}
hr {
  width: 90%;
  height: 10px;
  background-color: white;
  margin: 0 auto;
  opacity: 1;
  border-radius: 5px;
  border: none;
}
/* navbar */
.nav-link:hover {
  color: white;
}

.navbar-brand:hover {
  cursor: pointer;
}
/* Section after navbar with images and download app buttons */
.container-fluid {
  padding: 3% 15% 5% 15%;
  position: relative;
  z-index: 1;
}
.down-btn {
  margin-top: 1rem;
}
/* mobile image of tindog */
.rotate {
  transform: rotate(22deg);
  width: 22%;
  position: absolute;
  z-index: 1;
}

#title {
  overflow: hidden;
}
/* feature section */
#features {
  position: relative;
  z-index: 2;
  margin-top: 3rem;
  padding: 6% 15%;
  background-color: white;
}
/* bootstrap icons */
.bicon {
  font-size: 4rem;
  color: #fc466b;
}
i:hover {
  cursor: pointer;
}
.bicon:hover {
  color: red;
}
/* carousel section testimonial image */
.testimonials-image {
  width: 20%;
  border-radius: 50%;
}
.carousel-items {
  padding: 10% 15%;
}
.carousel-indicators {
  margin: auto auto;
}
/* Our parteners section */
#press {
  background-color: #fc466b;
  padding: 2% 10%;
}
/* partners logo */
.logo {
  width: 20%;
}
/* pricing-card */
.card {
  border-radius: 15px;
}
/* footer section - call to action section */
.text-end1 {
  font-size: 3rem;
}
#download {
  padding: 15% 0;
}
/* responsive queries */
@media screen and (max-width: 1030px) {
  .testimonials-image {
    width: 30%;
  }
  .rotate {
    width: 90%;
    position: static;
    transform: rotate(0);
    padding: 0;
  }
  #features {
    padding: 2% 5%;
    margin-top: 0;
  }
  #title {
    padding-bottom: 0;
    text-align: center;
    margin-bottom: 0;
  }
  .logo {
    width: 40%;
    margin: 2% 0;
  }
  .card {
    width: 75%;
  }
}
