* {
  margin: 0;
  padding: 0;
}
body {
  background: rgb(251, 158, 79);
  background: linear-gradient(
    90deg,
    rgba(251, 158, 79, 1) 23%,
    rgba(252, 70, 107, 1) 84%
  );
}
html {
  scroll-behaviour: scroll;
}
.nav-link:hover {
  color: white;
}

.navbar-brand:hover {
  cursor: pointer;
}
h1 {
  font-family: "Montserrat", sans-serif;
  line-height: 3rem;
  font-size: 3rem;
  color: white;
}

.container-fluid {
  background: rgb(251, 158, 79);
  background: linear-gradient(
    90deg,
    rgba(251, 158, 79, 1) 23%,
    rgba(252, 70, 107, 1) 84%
  );
  padding: 3% 15% 5% 15%;
  position: relative;
  z-index: 1;
}
.down-btn {
  margin-top: 1rem;
}
.rotate {
  transform: rotate(22deg);
  width: 22%;
  position: absolute;
  z-index: 1;
}

#title {
  overflow: hidden;
}

#features {
  position: relative;
  z-index: 2;
  margin-top: 3rem;
  padding: 6% 15%;
  background-color: white;
}
.bicon {
  font-size: 4rem;
  color: #fc466b;
  text-align: center;
}
i:hover {
  cursor: pointer;
}
.bicon:hover {
  color: red;
}

#testimonials {
  background: rgb(251, 158, 79);
  background: linear-gradient(
    90deg,
    rgba(251, 158, 79, 1) 23%,
    rgba(252, 70, 107, 1) 84%
  );
}

.testimonials-image {
  width: 20%;
  border-radius: 50%;
}
#press {
  background-color: #fc466b;
  padding: 2% 10%;
  border-top: 6px solid white;
  border-bottom: 6px solid white;
}
.logo {
  width: 20%;
}
.card {
  border-radius: 15px;
}
.carousel-items {
  padding: 10% 15%;
}
.carousel-indicators {
  margin: auto auto;
}
@media screen and (max-width: 1030px) {
  .testimonials-image {
    width: 30%;
  }
  .rotate {
    width: 90%;
    position: static;
    transform: rotate(0);
    padding: 0;
  }
  #features {
    padding: 2% 5%;
    margin-top: 0;
  }
  #title {
    padding-bottom: 0;
    text-align: center;
    margin-bottom: 0;
  }
  .logo {
    width: 40%;
    margin: 2% 0;
  }
  .card {
    width: 75%;
  }
}
.text-end1 {
  font-size: 3rem;
}
