* {
  margin: 0;
  padding: 0;
}

.nav-link:hover {
  color: white;
}

.navbar-brand:hover {
  cursor: pointer;
}
h1 {
  font-family: "Montserrat", sans-serif;
  line-height: 3rem;
  font-size: 3rem;
  color: white;
}

.container-fluid {
  background: rgb(251, 158, 79);
  background: linear-gradient(
    90deg,
    rgba(251, 158, 79, 1) 23%,
    rgba(252, 70, 107, 1) 84%
  );
  padding: 3% 15% 0 15%;
}

.rotate {
  transform: rotate(22deg);
  width: 60%;
}

#title {
  overflow: hidden;
  height: 80vh;
}

#features {
  margin-top: 5rem;
  padding: 0 15%;
}
.bicon {
  font-size: 4rem;
  color: red;
  text-align: center;
}
