html {
  scroll-behavior: smooth;
}

body {
  background-color: #b5f1cc;
}

.top-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e5fdd1;
  height: 6%;
  width: 100%;
  position: fixed;
  align-content: center;
  margin-top: 1vh;
}
.nav-item {
  margin: 0 3%;
  font-size: larger;
  color: black;
}

.nav-item:hover {
  color: gray;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: gray;
}

.top-landing {
  background-color: #b5f1cc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
}
.profile-img {
  margin-top: 10vh;
}
.profile-img-caption {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
  background-color: #f6c0bd;
  font-size: larger;
  width: 40vw;
  text-align: center;
  border-left: 7px solid #6a7abb;
}
hr {
  width: 40%;
  border-style: dotted none none none;
  border-width: 1vw;
  border-color: #6a7abb;
}

#about-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 80%;
  margin: 5vh auto;
  background-color: #b5f1cc;
}
.about-image {
  margin: 15% 10% 10% 15%;
  height: 70%;
  width: 70%;
  text-align: center;
}
/* .about-image{
    text-align:center;
} */
.about-info {
  margin-top: 2%;
  height: 30%;
  width: 40%;
  text-align: center;
  text-align: left;
  font-size: larger;
  line-height: 6vh;
  word-spacing: 1vw;
}

ul {
  display: inline-block;
  list-style-type: circle;
}
ul li:before {
  content: "• ";
}
li {
  display: inline-block;
  list-style-type: circle;
}

#project-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  align-item: space-between;
}

.project-item-1 {
  width: 30%;
  height: 40%;
  background-image: url("images/admin-panel.png");
  background-size: 100px;
}
