:root {
  --primary-color: #047aed;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
/* .top-nav {
  background-color: var(--primary-color);
  width: 100%;
  text-align: center;
  display: inline-block;
}
.navbar {
  width: 70%;
  margin: 0 auto;
}
.logo {
  float: left;
  font-size: xx-large;
  color: white;
  margin: 1vw 1vw;
}
.nav-item {
  display: inline-block;
  float: right;
  padding-top: 2vh;
  margin: 1vw;
  font-size: large;
  font-weight: lighter;
  color: white;
}
.nav-item:hover,
.logo:hover {
  text-decoration: underline;
}

@media screen and (max-width:500px){

} */

.top-nav {
  background-color: var(--primary-color);
  width: 100%;
  text-align: center;
  color: white;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}
.logo {
  font-size: xx-large;
  margin: 1.5vh 1vh 0 1vh;
}

.nav-item {
  display: inline-block;
  font-size: large;
  margin-top: 2.5vh;
  margin: 2.5vh 1vh 1vh 1vh;
}
.nav-item:hover,
.logo:hover {
  text-decoration: underline;
}

.landing-section {
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
.landing-1 {
  background-color: var(--primary-color);
  width: 100%;
  background-size: contain;
  background-position: bottom;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1600' height='200' preserveAspectRatio='none' viewBox='0 0 1600 200'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c105 C 64%2c98.8 192%2c71.4 320%2c74 C 448%2c76.6 512%2c122.6 640%2c118 C 768%2c113.4 832%2c36.4 960%2c51 C 1088%2c65.6 1152%2c198.2 1280%2c191 C 1408%2c183.8 1536%2c50.2 1600%2c15L1600 200L0 200z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c116 C 106.8%2c100.6 320.4%2c23.8 534%2c39 C 747.6%2c54.2 854.8%2c190.2 1068%2c192 C 1281.2%2c193.8 1493.6%2c76.8 1600%2c48L1600 200L0 200z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1600' height='200' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  margin: 0;
}
.landing-text {
  width: 40%;
  color: white;
  font-size: larger;
  margin: 1.5vh;
  padding: 15vh 0;
  position:relative;
  animation-name:position-text;
  animation-duration:1s;
  animation-timing-function:ease-in;
}
.form-div {
  background-color: white;
  border-radius: 10px;
  font-size: larger;
  width: 320px;
  margin: 25vh 0 10vh 0;
  padding: 1vh 2vw;
  position:relative;
  animation-name:position-form;
  animation-duration:1s;
  animation-timing-function:ease-in;
}
input {
  border: none;
  border-bottom: 1px solid black;
  font-size: larger;
  display: inline-block;
  margin-top: 2vh;
  line-height: 5vh;
  width: 100%;
}

.submit {
  display: inline-block;
  margin: 4vh 1vw;
  width: 120px;
  color: white;
  border-radius: 8px;
  padding: 7px;
  background-color: var(--primary-color);
  align-self: baseline;
  justify-self: baseline;
}
.form-heading {
  font-weight: normal;
}
.read-btn {
  width: 200px;
  background-color: var(--primary-color);
  border: 2px solid white;
  font-size: large;
  color: white;
}

.read-btn:hover,
.submit:hover {
  box-shadow: 3px 3px 3px gray;
}


  @keyframes position-form{
    0%{left:300px;}
    100%{left:0}
  }
  @keyframes position-text{
    0%{right:300px;}
    100%{right:0}
  }

  .middle-para{
    margin:10vh auto;
    font-size:xx-large;
    text-align:center;
    color:black;
    width:50%;
  }
  .middle-para::first-letter{
    font-weight:bolder;
  }

  .middle-sec{
    display:flex;
    gap:4vh;
    justify-content:center;
    flex-wrap:wrap;
    width:70%;
    margin:10vh auto;
  }

  .middle-img{
    text-align:center;
    width:300px;
    font-size:x-large;
    letter-spacing:1vw;
  }
  .middle-title{
    color:#013160;
    font-weight:bold;
    font-size:large;
    letter-spacing:0.2vw;
  }

  .mid-2{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
  }
  .mid-img{
    margin:10px;
  }
  .code-img{
    width:450px;
    height:250px;
    border-radius:10px;
  }
  .mid-2-divs{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:10vh;
    margin-top:5vh;
}
  .text-container{
    text-align:center;
    font-size:x-large;
    box-shadow:2px 2px 3px gray ,-2px -2px 3px gray;
    border-radius:10px;
    width:100%;
    padding:15px 80px;
  }
  @media screen and (max-width: 770px) {
    .navbar {
      justify-content: center;
      margin: 0 auto;
    }
    .nav-item {
      border-bottom: 2px solid #013160;
    }

    .landing-text {
        width: 100%;
        color: white;
        font-size: larger;
        margin: 0 auto;
        padding: 8vh 0;
      }
      .landing-section {
        width:90%
        justify-content: center;
      }
      .form-div {
        margin: 0 auto 5vh auto;
      }
      input{
        font-size:normal;
        margin-top:1vh;
        line-height:1vh;
      }
      .middle-para{
        width:90%;
      }
      .middle-sec{
        width:90%;
      }
      .code-img{
        width:300px;
        height:200px;
      }
      .mid-3{
        width:90%;
      }
      .mid-3-text{
        width:90%;
      }
  }
  .mid-3-container{
    background-color:#047aed;
    margin:5vh auto;
  }
  .mid-3{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    width:70%;
    margin:0 auto;
    padding:10vh 5vw;
  }
  .mid-3-text h3{
        font-size:3rem;
        color:white;
        word-spacing:0.4vw;
  }
  .mid-3-text{
    font-size:large;
        color:white;
        width:70%;
  }
  .mid-3-img{
    margin:4vh auto;
    text-align:center;
  }

  .lang-heading{
    width:70%;
    text-align:center;
    margin : 5vh auto;
    font-size:xx-large;
    color:black;
    font-weight:bold;
  }
  .lang-section{
    display:flex;
    justify-content:space-evenly;
    width:70%;
    margin:0 auto;
    flex-wrap:wrap;
    align-content: space-evenly;
    align-item:space-evenly;
  }
  .lang h3{
    text-align:center;
    font-size:x-large;
    color:black;
    font-weight:lighter;
  }

  .lang{
    background-color:#f2f6fa;
    margin:1vh auto;
    padding:1vh 1vw 2vh 1vw;
    text-align:center;
    border-radius:7px;
    width:180px;
    box-shadow:2px 2px 3px gray ,-2px -2px 3px gray;
  }

  .lang:hover{
    box-shadow:3px 3px 5px gray ,-3px -3px 5px gray;
  }

  