body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: rgb(77, 43, 0);
  background: linear-gradient(
    0deg,
    rgba(77, 43, 0, 1) 0%,
    rgba(102, 191, 191, 1) 0%,
    rgba(185, 224, 255, 1) 39%
  );
}
.top-paragraph-detail {
  text-decoration: underline;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  color: #66bfbf;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-family: "Sacramento", cursive;
  color: #3c84ab;
}
h3 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  /* font-family: "Sacramento", cursive; */
  letter-spacing: 3px;
  color: #11999e;
}
.top-container {
  padding-top: 70px;
  margin-bottom: 5%;
}
.cloud-1 {
  width: 10%;
  height: 15%;
  position: absolute;
  top: 50px;
  right: 490px;
}
.cloud-2 {
  width: 10%;
  height: 15%;
  position: absolute;
  top: 300px;
  left: 400px;
}
.top-paragraph {
  font-size: 2rem;
  margin: 10px auto 10px auto;
}
.top-photo {
  width: 28%;
  height: 30%;
}
.hr-division {
  width: 40%;
  /* display: inline-block; */
  border-width: 1em;
  border-color: #66bfbf;
  border-top-style: dotted;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  /* margin: 5% 0; */
}

.middle-container {
  margin: 5% 0 7% 0;
}
.profile {
  width: 50%;
  display: inline-block;
  margin: 5% 0;
}
.profile-pic {
  width: 35%;
  height: 35%;
  border: 3px solid black;
  border-radius: 50%;
}
.para-large {
  margin-top: 0.3em;
  font-size: 2rem;
  line-height: 130%;
  font-family: "Nunito", sans-serif;
}
.skill-img {
  width: 35%;
  margin-top: 5%;
  float: right;
}
.skills {
  width: 60%;
  display: inline-block;
  margin: 2% 0;
}
.skill-row {
  margin: 10% 0;
}
.skill-row-top {
  margin: 0 0 10% 0;
}
.para-midlarge {
  margin: 0;
  font-size: 1.5rem;
  line-height: 130%;
  font-family: "Nunito", sans-serif;
}
.skill-img-mid {
  width: 25%;
  height: 20%;
  float: left;
  margin-top: 5%;
}
.skill-img-bt {
  width: 25%;
  margin-top: 3%;
  float: right;
}
.margin-top-bottom {
  margin: 4% 0;
}
.contact-me {
  width: 60%;
  display: inline-block;
}

.footer-link {
  display: inline-block;
  margin: 2%;
  text-decoration: none;
}
.btn {
  text-decoration: none;
  margin: 4% 0 0 0;
  display: inline-block;
  color: #ffffff;
  background-color: #0080ff;
  font-size: 20px;
  border: 1px solid #0080ff;
  border-radius: 26px;
  padding: 15px 50px;
  letter-spacing: 4px;
}
.btn:hover {
  color: #2d63c8;
  background-color: #ffffff;
}
.heading-normal {
  font-size: 2rem;
  letter-spacing: 3px;
}
.bottom-container {
  margin: 3% 0;
}
