body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #b9e0ff;
}
h1 {
  margin: 0;
  padding: 0;
  font-family: "Sacramento", cursive;
  font-size: 5rem;
}
h2 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-family: "Sacramento", cursive;
}
.top-container {
  padding-top: 80px;
}
.cloud-1 {
  position: absolute;
  top: 120px;
  right: 450px;
}
.cloud-2 {
  position: absolute;
  top: 350px;
  left: 400px;
}
p {
  font-size: 2rem;
}
