body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: rgb(77, 43, 0);
  background: linear-gradient(
    0deg,
    rgba(77, 43, 0, 1) 0%,
    rgba(102, 191, 191, 1) 0%,
    rgba(185, 224, 255, 1) 39%
  );
}
.top-paragraph-detail {
  text-decoration: underline;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: "Sacramento", cursive;
  font-size: 5rem;
  color: #66bfbf;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-family: "Sacramento", cursive;
  color: #3c84ab;
}
h3 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-family: "Sacramento", cursive;
  color: #11999e;
}
.top-container {
  padding-top: 70px;
  margin-bottom: 20px;
}
.cloud-1 {
  width: 10%;
  height: 15%;
  position: absolute;
  top: 50px;
  right: 490px;
}
.cloud-2 {
  width: 10%;
  height: 15%;
  position: absolute;
  top: 300px;
  left: 400px;
}
.top-paragraph {
  font-size: 2rem;
  margin: 10px auto 10px auto;
}
.top-photo {
  width: 28%;
  height: 30%;
}
.hr-division {
  width: 40%;
  border-width: 1em;
  border-color: #66bfbf;
  border-top-style: dotted;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
}

.middle-container {
  margin: 30px 0 20px 0;
}
.profile {
  width: 50%;
  display: inline-block;
}
.profile-pic {
  width: 35%;
  height: 35%;
}
p {
  font-size: 2rem;
  line-height: 130%;
  font-family: "Nunito", sans-serif;
}
.skill-row {
  display: inline-block;
  width: 49%;
}
.skills {
  text-align: left;
}
