.menu-burger {
  z-index: 2;
  height: 8px;
  width: 40px;
  border-radius: 2px;
  position: fixed;
  top: 45px;
  right: 20px;
  background-color: #fff;
  cursor: pointer;
  @include transion-menu;

  &::after {
    content: " ";
    position: fixed;
    top: 60px;
    right: 20px;
    height: 8px;
    width: 40px;
    background-color: #fff;
    border-radius: 2px;
    @include transion-menu;
  }
  &::before {
    content: " ";
    position: fixed;
    top: 30px;
    right: 20px;
    height: 8px;
    width: 40px;
    background-color: #fff;
    border-radius: 2px;
    @include transion-menu;
  }
}
.open {
  transform: rotate(45deg);

  &::before {
    position: fixed;
    top: 0px;
    right: 0px;
    transform: rotate(90deg);
  }
  &::after {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .menu-burger {
    display: none;
  }
}

.hidden-nav {
  height: 100vh;
  width: 100vw;
  opacity: 0.9;
  background-color: $primary-color;

  z-index: 3;

  display: flex;
  flex-direction: column;
  padding-top: 100px;
  @include transion_menu;

  .hidden-nav-item {
    height: 40px;
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 0;
    text-align: center;
    @include transion_menu;
  }
}
.trans {
  transform: translateX(100%);
}
.menu_flex {
  transform: translateX(0);
  overflow: hidden;
}
.blur {
  backdrop-filter: blur(5px);
}
