@import "_config.scss";
@import "home";
@import "menu";

body {
  background-color: $primary-color;
  height: 100vh;
  font-size: 1rem;
  font-family: sans-serif;
}
hr {
  border-color: #fff;
}
h2 {
  font-weight: 300;
}
h1 {
  font-weight: 500;
  font-size: 4rem;
  padding: 0 0 10px 0;
  .second-name {
    font-weight: 600;
  }
}
a {
  color: #fff;
  text-decoration: none;
}
