* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.full-container {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 39, 39, 0.8)), to(rgba(39, 39, 39, 0.3))), url(../images/image-1.jpg);
  background: linear-gradient(to right, rgba(39, 39, 39, 0.8), rgba(39, 39, 39, 0.3)), url(../images/image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: fixed;
  color: white;
}

.full-container .main {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 40%;
  width: 100%;
  line-height: 3rem;
}

.full-container .main .second-name {
  color: #ff652f;
}

.icon-space {
  position: fixed;
  bottom: 5%;
}

.icon-space .icon-list {
  display: inline-block;
}

.icon-space .icon-list .icon-tags {
  display: inline-block;
  padding: 1rem;
}

.icon-space .icon-list .icon-tags:hover {
  color: #ff652f;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

footer {
  position: fixed;
  bottom: 5%;
  right: 2%;
}

.navbar {
  text-align: right;
  font-size: 1.3rem;
  font-weight: 0;
  padding: 10px;
  opacity: 0.8;
}

.navbar .nav {
  display: inline-block;
}

.navbar .nav .nav-items {
  display: inline-block;
  padding: 10px;
  font-weight: lighter;
}

.navbar .nav .active {
  color: #ff652f;
}

.nav-items :hover {
  color: #ff652f;
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.hide {
  display: none;
}

.menu_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-color: #272727;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .navbar {
    display: none;
  }
}

.menu-burger {
  z-index: 2;
  height: 8px;
  width: 40px;
  border-radius: 2px;
  position: fixed;
  top: 45px;
  right: 20px;
  background-color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-burger::after {
  content: " ";
  position: fixed;
  top: 60px;
  right: 20px;
  height: 8px;
  width: 40px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu-burger::before {
  content: " ";
  position: fixed;
  top: 30px;
  right: 20px;
  height: 8px;
  width: 40px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.open {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.open::before {
  position: fixed;
  top: 0px;
  right: 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.open::after {
  display: none;
}

@media screen and (min-width: 800px) {
  .menu-burger {
    display: none;
  }
}

.hidden-nav {
  width: 100vw;
  opacity: 0.8;
  background-color: #272727;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.hidden-nav .hidden-nav-item {
  display: block;
  margin: auto 5vh;
  font-size: 1.3rem;
  font-weight: 0;
}

body {
  background-color: #272727;
  height: 100vh;
  font-size: 1rem;
  font-family: sans-serif;
}

hr {
  border-color: #fff;
}

h2 {
  font-weight: 300;
}

h1 {
  font-weight: 500;
  font-size: 4rem;
  padding: 0 0 10px 0;
}

h1 .second-name {
  font-weight: 600;
}

a {
  color: #fff;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */